:root {
    --Paleblue: hsl(225, 100%, 94%);
    --Brightblue: hsl(245, 75%, 52%);


    --Verypaleblue: hsl(225, 100%, 98%);
    --Desaturatedblue: hsl(224, 23%, 55%);
    --Darkblue: hsl(223, 47%, 23%);

}

.container {
    background-size: contain;
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    width: 550px;
    height: 700px;
    background-color: var(--Paleblue);
    margin: 0 auto;
}

.card {
    width: 450px;
    height: 630px;
    padding: 0 auto;
    margin: 50px;
    background-color: white;
    /* background-image: url(./images/illustration-hero.svg); */
    position: absolute;
    border-radius: 20px;

    background-repeat: no-repeat;
}

.content {
    /* display: flex;  */
    padding: 0 70px;
    justify-content: center;

}

.plan {
    font-size: 16px;
    display: flex;
    background-color: var(--Verypaleblue);
    padding: 20px;
    border-radius: 12px;
    justify-content: space-between;
}

button {
    border: none;
    border-radius: 12px;
    width: 300px;
    margin: 10px;
    height: 40px;
}

.proceed {
    background-color: var(--Brightblue);
    color: white;

}

.proceed:hover {
    opacity: 0.8;
}

.cancel {

    background-color: none;
    color: var(--Desaturatedblue);

}

.cancel:hover {
    color: black;
}